@{
    ViewData["Title"] = "Home Page";
}

<div class="table-responsive-lg py-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-right">Money</th>
                <th scope="col">Read</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewData["Money"] != null)
                {
                    int r = 0;
                    foreach (var i in (IEnumerable<MoneyModel>)ViewData["Money"])
                    {
                        r += 1;
                        <tr>
                            <th scope="row">@r</th>
                            <td class="text-right">
                                @i.Money ฿
                            </td>
                            <td>@i.MoneyText</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
